In [1]:
import numpy as np
import pandas as pd
import joblib

In [2]:
df=pd.read_csv("glass.csv")
df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

In [3]:
x=df.iloc[:,0:9]
y=df.iloc[:,[9]]

In [4]:
x

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [5]:
y

     Type
0       1
1       1
2       1
3       1
4       1
..    ...
209     7
210     7
211     7
212     7
213     7

[214 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [8]:
x_train.shape

(171, 9)

In [9]:
y_train.shape

(171, 1)

In [10]:
x_test.shape

(43, 9)

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
std_sc=StandardScaler()

In [13]:
x_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
79   1.51590  12.82  3.52  1.90  72.86  0.69   7.97  0.00  0.00
161  1.51934  13.64  3.54  0.75  72.65  0.16   8.89  0.15  0.24
109  1.51818  13.72  0.00  0.56  74.45  0.00  10.99  0.00  0.00
127  1.52081  13.78  2.28  1.43  71.99  0.49   9.85  0.00  0.17
95   1.51860  13.36  3.43  1.43  72.26  0.51   8.60  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
106  1.53125  10.73  0.00  2.10  69.81  0.58  13.30  3.15  0.28
14   1.51763  12.61  3.59  1.31  73.29  0.58   8.50  0.00  0.00
92   1.51588  13.12  3.41  1.58  73.26  0.07   8.39  0.00  0.19
179  1.51852  14.09  2.19  1.66  72.67  0.00   9.32  0.00  0.00
102  1.51820  12.62  2.76  0.83  73.81  0.35   9.42  0.00  0.20

[171 rows x 9 columns]

In [14]:
x_train=std_sc.fit_transform(x_train)

In [15]:
x_test=std_sc.fit_transform(x_test)

In [16]:
x_train

array([[-0.84623746, -0.74467528,  0.52636164, ..., -0.68807645,
        -0.33761134, -0.60110996],
       [ 0.28077633,  0.33413832,  0.54088841, ..., -0.03692037,
        -0.04564469,  1.78472688],
       [-0.0992632 ,  0.43938842, -2.03034913, ...,  1.44941417,
        -0.33761134, -0.60110996],
       ...,
       [-0.85278986, -0.34998738,  0.44646443, ..., -0.39080954,
        -0.33761134,  1.28767753],
       [ 0.0121277 ,  0.92617017, -0.43966828, ...,  0.26742432,
        -0.33761134, -0.60110996],
       [-0.09271079, -1.00780055, -0.02565546, ...,  0.33820216,
        -0.33761134,  1.3870874 ]])

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
model=RandomForestClassifier(criterion="entropy",n_estimators=300,random_state=42)

In [19]:
model.fit(x_train,y_train)

c:\python\python37\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(criterion='entropy', n_estimators=300, random_state=42)

In [20]:
y_pred=model.predict(x_test)

In [21]:
y_pred.shape

(43,)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_pred,y_test)

0.6046511627906976

In [24]:
filename="model.sav"
joblib.dump(model,filename)

['model.sav']